{% load static %}
<aside class="w-64 bg-promaco-dark dark:bg-gray-800 text-white transition-colors duration-300">
<nav class="py-5">
    <ul>
        <li class="mb-1">
            <a href="/" class="flex items-center px-5 py-3 hover:bg-opacity-10 hover:bg-white transition-colors duration-200">
                <i data-lucide="home" class="w-5 h-5 mr-3"></i> Inicio
            </a>
        </li>
        <li class="mb-1">
            <a href="/marcaje" class="flex items-center px-5 py-3 hover:bg-opacity-10 hover:bg-white transition-colors duration-200">
                <i data-lucide="download" class="w-5 h-5 mr-3"></i> Descarga de Marcajes
            </a>
        </li>
        <li class="mb-1">
            <a href="/marcaje/registrados" class="flex items-center px-5 py-3 hover:bg-opacity-10 hover:bg-white transition-colors duration-200">
                <i data-lucide="users" class="w-5 h-5 mr-3"></i> Empleados Registrados
            </a>
        </li>
        <li class="mb-1">
            <a href="/marcaje/validar-asistencia" class="flex items-center px-5 py-3 hover:bg-opacity-10 hover:bg-white transition-colors duration-200">
                <i data-lucide="check-square" class="w-5 h-5 mr-3"></i> Validación de asistencia
            </a>
        </li>
        <li class="mb-1">
            <a href="/marcaje/solicitud" class="flex items-center px-5 py-3 hover:bg-opacity-10 hover:bg-white transition-colors duration-200">
                <i data-lucide="list" class="w-5 h-5 mr-3"></i> Solicitudes Pendientes
            </a>
        </li>
        <li class="mb-1">
            <a href="/marcaje/crear-permiso" class="flex items-center px-5 py-3 hover:bg-opacity-10 hover:bg-white transition-colors duration-200">
                <i data-lucide="file-text" class="w-5 h-5 mr-3"></i> Solicitar permiso
            </a>
        </li>
        <li class="mb-1">
            <a href="/marcaje/subir_comprobantes" class="flex items-center px-5 py-3 hover:bg-opacity-10 hover:bg-white transition-colors duration-200">
                <i data-lucide="upload" class="w-5 h-5 mr-3"></i> Subir comprobantes
            </a>
        </li>
        <li class="mb-1">
            <a href="/marcaje/ver_encargados" class="flex items-center px-5 py-3 hover:bg-opacity-10 hover:bg-white transition-colors duration-200">
                <i data-lucide="user-plus" class="w-5 h-5 mr-3"></i> Asignar Empleados
            </a>
        </li>
        <li class="mb-1">
            <a href="/marcaje/empleados_y_encargados" class="flex items-center px-5 py-3 hover:bg-opacity-10 hover:bg-white transition-colors duration-200">
                <i data-lucide="users" class="w-5 h-5 mr-3"></i> Empleados y Encargados
            </a>
        </li>
        <li class="mb-1">
            <a href="/marcaje/historial-solicitudes" class="flex items-center px-5 py-3 hover:bg-opacity-10 hover:bg-white transition-colors duration-200">
                <i data-lucide="users" class="w-5 h-5 mr-3"></i> Historial de solicitudes
            </a>
        </li>
        <li class="mb-1">
            <a href="/marcaje/crear_usuario" class="flex items-center px-5 py-3 hover:bg-opacity-10 hover:bg-white transition-colors duration-200">
                <i data-lucide="users" class="w-5 h-5 mr-3"></i> Crear Usuario
            </a>
        </li>
    </ul>
</nav>
</aside>