<table id="tabla-resultados" class="min-w-full text-sm text-left text-gray-700 dark:text-gray-200 border border-gray-300 rounded">
    <thead class="bg-gray-100 dark:bg-gray-600 sticky top-[0px] z-10 uppercase text-xs">
        <tr>
            <th class="px-4 py-2">Fecha</th>
            <th class="px-4 py-2">Sucursal</th>
            <th class="px-4 py-2">Código</th>
            <th class="px-4 py-2">Nombre</th>
            <th class="px-4 py-2">Departamento</th>
            <th class="px-4 py-2">Marca Entrada</th>
            <th class="px-4 py-2">Marca Salida</th>
            <th class="px-4 py-2">Asistencia</th>
        </tr>
    </thead>
    <tbody class="divide-y divide-gray-200 dark:divide-gray-700 text-gray-700 dark:text-gray-100">
        {% for r in resultados %}
        <tr class="dark:hover:bg-gray-700 transition-colors duration-200">
            <td>{{ r.fecha }}</td>
            <td>{{ r.sucursal }}</td>
            <td>{{ r.codigo }}</td>
            <td>{{ r.nombre }}</td>
            <td>{{ r.departamento }}</td>
            <td>{{ r.entrada }}</td>
            <td>{{ r.salida }}</td>
            <td class="px-2 py-2" 
            style="background: {% if r.estado == 'ASISTIÓ' %}#38c172{% elif r.estado == 'JUSTIFICADO' %}{{r.color}}{% else %}#e3342f{%endif%};">
            {% if r.estado == 'ASISTIÓ' %}
            <p></p>
            {% elif r.estado == 'JUSTIFICADO' %}
             {{ r.simbolo_permiso }}
            {%else%}
            <p></p>
            {%endif%}
            </td>
        </tr>
        {% endfor %} <!-- Datos se cargarán por AJAX -->
    </tbody>
</table>
