<h2 class="text-xl font-semibold text-gray-800 dark:text-white mb-4">
    Empleados asignados a {{ encargado.nombre }}
</h2>

{% if empleados %}
    <ul class="max-h-[450px] overflow-y-auto bg-white dark:bg-gray-800 border border-gray-300 rounded-md divide-y divide-gray-200 dark:divide-gray-600">
      {% for e in empleados %}
        <li id="empleado-{{ e.id }}" class="px-4 py-2 text-gray-800 dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700 transition-colors duration-200">
          {{ forloop.counter }}. {{ e.nombre }}
          <form hx-post="{% url 'quitar_empleado_asignado' encargado.id e.id %}"
                hx-target="#asignar"
                hx-swap="innerHTML"
                method="POST"
                class="inline-block ml-4">
            {% csrf_token %}
            <div class="flex items-end ml-2">
              <button type="submit" class="inline-flex items-end px-2 py-1 bg-red-500 hover:bg-red-600 text-white text-xs rounded shadow transition-colors duration-150">
                <svg class="w-4 h-4 mr-1" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                </svg>
                Quitar
              </button>   
            </div>
          </form>
          <br>
          <span class="text-blue-700 dark:text-green-300">{{ e.departamento }}</span>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="text-gray-600 dark:text-gray-400">Este encargado no tiene empleados asignados.</p>
  {% endif %}
</div>


