{% extends 'base.html' %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="max-w-3xl mx-auto px-4">
    <form method="post" enctype="multipart/form-data" class="bg-white dark:bg-gray-800 p-6 rounded-2xl shadow-md border border-blue-200">
        {% csrf_token %}

        <div class="flex items-center justify-center border dark:bg-blue-700 border-gray-300 p-4 rounded-lg mb-6 bg-gray-50">
            <h1 class="text-xl font-bold text-gray-800 dark:text-gray-200">Solicitar Permiso</h1>
        </div>

        

        <!-- <div class="mb-4">
            <label for="empleado" class="block text-sm font-medium text-gray-700 dark:text-gray-100 mb-1">Empleado</label>
            <select id="empleado" name="empleado" class="w-full text-gray-800 dark:text-gray-200 bg-blue-gray-800 dark:bg-gray-600 border-gray-300 dark:border-gray-600 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" required disabled>
                <option value="">Primero seleccione un encargado</option>
            </select>
        </div> -->

         <div class="mb-4">
            {% if empleados_a_cargo_global %}
            <h4>{{encargado.nombre}}</h4>
            <input type="hidden" name="encargado" value="{{encargado.id}}">
            <label for="empleado" class="block text-sm font-medium text-gray-700 dark:text-gray-100 mb-1">Empleado</label>
            <select id="empleado" name="empleado" class="w-full text-gray-800 dark:text-gray-200 bg-blue-gray-800 dark:bg-gray-600 border-gray-300 dark:border-gray-600 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" required>
               
            
               {% for emp in empleados_a_cargo_global %}
            <option value="{{emp.id}}">{{ emp.nombre }}</option>
                {% endfor %}
                {% else %}
    <option disabled value="">No tienes empleados a tu cargo.<option>
            {% endif %}
            </select>
        </div>


        <div class="mb-4">
            <label for="tipo_permiso" class="block text-sm font-medium text-gray-700 dark:text-gray-100 mb-1">Tipo de Permiso</label>
            <select id="tipo_permiso" name="tipo_permiso" class="w-full text-gray-800 dark:text-gray-200 bg-blue-gray-800 dark:bg-gray-600 border-gray-300 dark:border-gray-600 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" required>
                <option value="">Seleccione</option>
                {% for tp in tipo_permisos %}
                    <option value="{{tp.id}}">{{tp.tipo}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
            <div>
                <label for="fecha_inicio" class="block text-sm font-medium text-gray-700 dark:text-gray-200 mb-1">Fecha de inicio</label>
                <input type="date" name="fecha_inicio" id="fecha_inicio" class="w-full dark:bg-gray-600 border-gray-300 dark:border-gray-600 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" required>
            </div>
            <div>
                <label for="fecha_final" class="block text-sm font-medium text-gray-700 dark:text-gray-200 mb-1">Fecha final</label>
                <input type="date" name="fecha_final" id="fecha_final" class="w-full dark:bg-gray-600 border-gray-300 dark:border-gray-600 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500">
            </div>
        </div>

        <div class="mb-4">
            <label for="descripcion" class="block text-sm font-medium text-gray-700 dark:text-gray-200 mb-1">Descripción del Motivo</label>
            <textarea name="descripcion" id="descripcion" rows="4" class="w-full bg-gray-100 dark:bg-gray-600 border-gray-300 dark:border-gray-600 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" required></textarea>
        </div>

        <div class="bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700 p-4 rounded mb-6" role="alert">
            Las solicitudes de permiso laboral se deben presentar dos días antes del primer día de ausencia, a excepción del permiso por enfermedad. RRHH es quien dará la aprobación final de los permisos.
        </div>

        <div class="text-center">
            <button type="submit" class="bg-blue-600 text-white px-6 py-2 rounded-lg shadow hover:bg-blue-700 transition duration-200">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="inline w-5 h-5 align-middle mr-2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 8.25H7.5a2.25 2.25 0 0 0-2.25 2.25v9a2.25 2.25 0 0 0 2.25 2.25h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25H15m0-3-3-3m0 0-3 3m3-3V15" />
                </svg>
                Guardar
            </button>
        </div>
    </form>
</div>
<!-- 
<script>
    $(document).ready(function () {
        $('#encargado').change(function () {
            var encargadoId = $(this).val();
            if (encargadoId) {
                $.ajax({
                    url: '/marcaje/cargar_empleados/',
                    data: { 'encargado_id': encargadoId },
                    success: function (data) {
                        $('#empleado').empty();
                        if (data.empleados.length > 0) {
                            $('#empleado').append('<option value="">Seleccione un empleado</option>');
                            $.each(data.empleados, function (key, empleado) {
                                $('#empleado').append('<option value="' + empleado.id + '">' + empleado.nombre + '</option>');
                            });
                            $('#empleado').prop('disabled', false);
                        } else {
                            $('#empleado').append('<option value="">No hay empleados asignados</option>');
                        }
                    }
                });
            } else {
                $('#empleado').empty().prop('disabled', true);
            }
        });
    });
</script> -->
{% endblock %}
