{% extends 'base.html' %}
{% block title %}Crear Usuario{% endblock %}

{% block content %}
{% load static %}

<div class="min-h-full bg-white dark:bg-gray-800 p-6 rounded-lg shadow-md border border-gray-300">
  <div class="sticky top-0 left-0 z-10 p-2 w-fit">
    <a href="{% url 'listar_usuarios' %}" class="mb-4 bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 rounded shadow no-print flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="inline w-5 h-5 align-middle mr-2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18" />
      </svg>
      Regresar
    </a>
  </div>
  <div class="flex justify-center items-center">
    <div class="max-w-md w-full p-6 rounded-lg shadow-md border-t-4 border border-gray-300 border-indigo-900 bg-gray-100 dark:bg-gray-800 -mt-10">
      <h2 class="text-xl font-bold text-center text-gray-800 dark:text-gray-200 mb-4">Crear Usuario a Encargados</h2>
      <form method="POST" class="space-y-4">
        {% csrf_token %}
        <!-- Select de encargado -->
        <div class="mb-4">
          <label for="encargado" class="block mb-2 text-sm font-medium text-gray-700 dark:text-gray-200">Selecciona un encargado</label>
          <select name="encargado" id="encargado" class="text-gray-700 dark:text-gray-200 bg-gray-200 dark:bg-gray-600 block w-full border border-indigo-900 p-2 rounded" required>
            <option value="">-- Selecciona --</option>
              {% for encargado in encargados %}
              <option value="{{ encargado.id }}" data-nombre="{{ encargado.nombre|lower }}">{{ encargado.nombre }}</option>
              {% endfor %}
          </select>
        </div>

        <!-- Vista previa del usuario -->
        <div class="mb-4">
          <label class="block text-sm font-medium text-gray-700 dark:text-gray-200">Usuario</label>
          <input type="text" id="preview_usuario" readonly class="w-full border border-indigo-900 p-2 rounded bg-gray-200 dark:bg-gray-600 text-gray-700 dark:text-gray-200" />
        </div>
        
        <!-- Vista previa del correo -->
        <div class="mb-4">
          <label for="correo" class="block text-sm font-medium text-gray-700 dark:text-gray-200">Correo</label>
          <input type="email" name="email" id="correo" class="w-full border border-indigo-900 p-2 rounded bg-gray-200 dark:bg-gray-600 text-gray-700 dark:text-gray-200" placeholder="ejemplo@dominio.com" />
        </div>

        <!-- Campo para contraseña -->
        <div class="mb-4 relative">
          <label class="block text-sm font-medium dark:text-gray-200 mb-1">Contraseña</label>
          <input type="password"  required name="password" id="passwordInput" class="w-full px-3 py-2 bg-gray-200 dark:bg-gray-600 border border-indigo-900 rounded focus:outline-none focus:ring-2 text-gray-700 dark:text-gray-200 focus:ring-blue-500">
          <button type="button"  onclick="togglePassword()"  class="absolute right-3 top-9 text-indigo-800" tabindex="-1">
              <i id="eyeIcon" data-lucide="eye" class="w-5 h-5 text-indigo-800 dark:text-indigo-200"></i>
              <i id="eyeOffIcon" data-lucide="eye-off" class="w-5 h-5 text-indigo-800 hidden dark:text-indigo-200"></i>
          </button>
        </div>
        <!-- Campo para confirmar contraseña -->
        <div class="text-center">
          <button type="submit" class="bg-blue-600 text-white px-6 py-2 rounded-lg shadow hover:bg-blue-700 transition duration-200">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="inline w-5 h-5 align-middle mr-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 8.25H7.5a2.25 2.25 0 0 0-2.25 2.25v9a2.25 2.25 0 0 0 2.25 2.25h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25H15m0-3-3-3m0 0-3 3m3-3V15" />
            </svg>
            Crear Usuario
          </button>
        </div>
      </form>
      {% if messages %}
        {% for message in messages %}
          <div id="toast-simple" class="flex justify-center items-center w-full max-w-md p-4 text-gray-500 bg-white divide-x divide-gray-200 rounded-lg shadow-sm dark:text-gray-400 dark:divide-gray-700 dark:bg-gray-700 mt-4" role="alert">
            <svg class="w-5 h-5 text-blue-600 dark:text-blue-500 rotate-45" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 17 8 2L9 1 1 19l8-2Zm0 0V9"/>
            </svg>
            <div class="ps-4 text-sm font-normal {% if message.tags == 'error' %} text-red-600 dark:text-red-500 {% else %} text-green-600 dark:text-green-500 {% endif %}">
              {{ message }}
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
<script>
  document.getElementById('encargado').addEventListener('change', function () {
    const selected = this.options[this.selectedIndex];
    const nombreCompleto = selected.dataset.nombre;

    if (nombreCompleto) {
      const partes = nombreCompleto.trim().split(' ');
      const nombre = partes[0];
      const apellido = partes[partes.length - 2];

      const usuario = `${nombre}${apellido}`;
      document.getElementById('preview_usuario').value = usuario;
    } else {
      document.getElementById('preview_usuario').value = '';
    }
  });
</script>
<script>
    // toast para mensajes de error
    setTimeout(function() {
        const toast = document.getElementById('toast-simple');
        if (toast) {
            toast.style.display = 'none';
        }
    }, 4000); // 4 segundos
</script>
<script>
  function togglePassword() {
      const input = document.getElementById('passwordInput');
      const eye = document.getElementById('eyeIcon');
      const eyeOff = document.getElementById('eyeOffIcon');

      if (input.type === 'password') {
      input.type = 'text';
      eye.classList.add('hidden');
      eyeOff.classList.remove('hidden');
      } else {
      input.type = 'password';
      eye.classList.remove('hidden');
      eyeOff.classList.add('hidden');
      }
  }
</script>

{% endblock %}