{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'styles/main.css' %}">

<div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-md border border-gray-300">
    <h2 class="text-2xl font-semibold mb-4 text-gray-800 dark:text-gray-200">Validar Asistencia</h2>
    <div class="bg-white dark:bg-gray-800 rounded-lg mb-6 overflow-y-auto">
        <div class="p-4 border border-gray-300 shadow-md rounded-lg">
            <form class="grid grid-cols-1 md:grid-cols-3 gap-4" 
            hx-get="{% url 'validar_asistencia' %}"
            hx-target="#cargar-asis"
            hx-swap="innerHTML">
                <div>
                    <label for="sucursal" class="block text-sm font-medium text-gray-700 dark:text-gray-200">Sucursal:</label>
                    <select name="sucursal" class="mt-1 block w-full rounded-md border-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white text-sm">
                    {% for suc in sucursales %}
                    <option value="{{ suc.id }}" {% if suc.id|stringformat:"s" == selected_sucursal %}selected{% endif %}>{{ suc.nombre }}</option>
                    {% endfor %}
                    </select>
                </div>

                <div>
                    <label for="fecha" class="block text-sm font-medium text-gray-700 dark:text-gray-200">Fecha:</label>
                    <input type="date" name="fecha" class="mt-1 block w-full rounded-md border-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white text-sm">
                </div>

                <div class="flex items-end">
                    <button type="submit" class="w-full bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded text-sm flex items-center justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg> 
                            Validar
                    </button>
            </form>   
            </div>
        </div>
    </div>

    <div id="cargar-asis" class="overflow-x-auto min-w-full overflow-y-auto border border-gray-200 dark:border-gray-700 rounded p-2">
        {% include 'partials/mostrar-asistencia.html' %}
    </div>


<script>
function initDataTable() {
    $('#tabla-resultados').DataTable({
        
        ordering: false,
    });
}

// Inicializa la tabla cuando la página carga por primera vez
document.addEventListener("DOMContentLoaded", function() {
    initDataTable();
});

// Cada vez que HTMX intercambia contenido, reinicializa DataTables
document.body.addEventListener('htmx:afterSwap', (e) => {
    if (e.detail.target.id === "cargar-asis") {
        initDataTable();
    }
});
</script>
<!-- <script src="{% static 'scripts/validar_asistencia.js' %}"></script> -->



{% endblock %}
